@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');

h1,
h2,
b,
h4 {
    font-family: 'Ubuntu', sans-serif !important;
    color: mediumpurple !important;
}

.nav-link:hover {
    color: rebeccapurple;
    background-color: lightblue;
    border-color: purple;
}

.nav-link:hover.btn {
    color: rebeccapurple;
    background-color: lightblue;
    border-radius: 0px;
}

.card, catrd-header, card-body, card-footer {
    border-radius: 0px;
    /*color: lightpink;*/
}

tbody, td, th {
    border-color: inherit !important;
    border-style: solid !important;
    border-width: 3px !important;
}

input[type="radio"] {
    background-color: lightblue;
}
